page-activite {

   ionic3-star-rating{font-size:10px !important;}
   ion-icon {
    font-size: 17px; //Preferred size here
}

.ionic3-star-rating[_ngcontent-c0] .button[_ngcontent-c0] ion-icon[_ngcontent-c0] {
    font-size: 17px;
}
button{
    font-size: 10px;
}
}