<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title *ngIf="!isSearchBarOpened">Home</ion-title>
	  <ion-searchbar *ngIf="isSearchBarOpened" showCancelButton="true" (search)="onSearch($event)" (ionCancel)="isSearchBarOpened=false">
      </ion-searchbar>
      <ion-buttons end>
        <button ion-button icon-only *ngIf="!isSearchBarOpened" light color="shadowlite" (click)="isSearchBarOpened=true">
          <ion-icon ios="ios-search" md="md-search">
          </ion-icon>
        </button> 
        <button ion-button icon-only light class="has-icon icon-only has-badge" (click)="goToConnexion()">
          <ion-icon ios="ios-contact" md="md-contact">
          </ion-icon>
        </button> 
      </ion-buttons>
    </ion-navbar>
  </ion-header>
<ion-content class="home-domaine-id">
    <div *ngIf="datas" class="home-datas">
        <ion-slides pager="true" loop="true" autoplay="5800">
            <ion-slide *ngFor='let value of datas'> <img src="{{value.image}}"> </ion-slide>
        </ion-slides>
    </div>
    <div>
        <ion-segment [(ngModel)]="segment">
          <ion-segment-button value="boutique">
            Boutique
          </ion-segment-button>
          <ion-segment-button value="enchere">
            Enchere
          </ion-segment-button>
		  <ion-segment-button value="offre">
            Offre
          </ion-segment-button>
		  <ion-segment-button value="rating">
            Rating
          </ion-segment-button>
        </ion-segment>
      </div>
      <div [ngSwitch]="segment">
			<ion-row class="row unlimited-items" *ngSwitchCase="'boutique'">
                <ion-col class="col">
					<a (click)="goToBoutiques()">
                        <ion-card>
                            <ion-card-content> 
                                <img src="assets/img/logo-1.png"/> 
                            </ion-card-content>
                            <div text-center>
                                <ion-label  > Activite A </ion-label>
                            </div>
                        </ion-card>
                    </a>
                </ion-col>
				<ion-col class="col">
                    <a (click)="goToBoutiques()">
                        <ion-card>
                            <ion-card-content> 
                                <img src="assets/img/logo-2.png"/>
                            </ion-card-content>
                            <div text-center>
                                <ion-label color="primary" > Activite B </ion-label>
                            </div>
                        </ion-card>
                    </a>
                </ion-col>
            </ion-row>
			<ion-row class="row unlimited-items" *ngSwitchCase="'enchere'">
                <ion-col class="col">
					<a (click)="goToEncheres()">
                        <ion-card>
                            <ion-card-content> 
                                <img src="assets/img/logo-1.png"/> 
                            </ion-card-content>
                            <div text-center>
                                <ion-label  > Activite C </ion-label>
                            </div>
                        </ion-card>
                    </a>
                </ion-col>
				<ion-col class="col">
                    <a (click)="goToEncheres()">
                        <ion-card>
                            <ion-card-content> 
                                <img src="assets/img/logo-2.png"/>
                            </ion-card-content>
                            <div text-center>
                                <ion-label color="primary" > Activite D </ion-label>
                            </div>
                        </ion-card>
                    </a>
                </ion-col>
            </ion-row>
			<ion-row class="row unlimited-items" *ngSwitchCase="'offre'">
                <ion-col class="col">
					<a (click)="goToOffres()">
                        <ion-card>
                            <ion-card-content> 
                                <img src="assets/img/logo-1.png"/> 
                            </ion-card-content>
                            <div text-center>
                                <ion-label  > Activite E </ion-label>
                            </div>
                        </ion-card>
                    </a>
                </ion-col>
				<ion-col class="col">
                    <a (click)="goToOffres()">
                        <ion-card>
                            <ion-card-content> 
                                <img src="assets/img/logo-2.png"/>
                            </ion-card-content>
                            <div text-center>
                                <ion-label color="primary" > Activite F </ion-label>
                            </div>
                        </ion-card>
                    </a>
                </ion-col>
            </ion-row>
            <ion-row *ngSwitchCase="'rating'">
				 <ion-item *ngFor='let notation of notations'>
					<ion-card (click)="goToDetailNotation()" no-padding>
						<ion-row>
							<ion-col>
							<ion-row>
							<h2>{{notation.nom}}</h2>
							</ion-row>
							<!--ion-row>
							  <rating [(ngModel)]="rate" readonly="false" 
								small="true"
							  (ngModelChange)="onModelChange($event)">
							</rating>
							</ion-row-->
							<ion-row>
							  <p>Emetteur: {{notation.emetteur}}</p><ion-icon name="checkmark"></ion-icon> 
							</ion-row>
							<ion-row>
							<!--button ion-button outline small item-end (click)="goToDetailNotation()">Voir plus</button-->
							<span class="rating review-star">
							  <span class="star-icon" [ngClass]="{full: notation.average_rating >= 1, half: notation.average_rating == 0.5}">&#x2605;</span> <span class="star-icon" [ngClass]="{full: notation.average_rating >= 2, half: notation.average_rating == 1.5}">&#x2605;</span> <span class="star-icon" [ngClass]="{full: notation.average_rating >= 3, half: notation.average_rating == 2.5}">&#x2605;</span> <span class="star-icon" [ngClass]="{full: notation.average_rating >= 4, half: notation.average_rating == 3.5}">&#x2605;</span> <span class="star-icon" [ngClass]="{full: notation.average_rating >= 5, half: notation.average_rating == 4.5}">&#x2605;</span>
							  </span>
							</ion-row>
							</ion-col>
							<ion-col>
							<ion-row>
							<h5 ion-text color="mauve">Date: 09/09/12</h5>
							</ion-row>
							<ion-row>
							<ion-icon name="thumbs-down" color="danger"> votes: {{notation.vote_down}} </ion-icon> 
							</ion-row>
							<ion-row>
							<ion-icon name="thumbs-up" color="favorite"> votes: {{notation.vote_up}} </ion-icon> 
							</ion-row>
							</ion-col>
						  </ion-row>
					</ion-card>
				 </ion-item>
            </ion-row>
        </div>
</ion-content>