<ion-header>
  <ion-navbar>
  <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
  </button>
    <ion-title *ngIf="!isSearchBarOpened">Offres</ion-title>
	  <ion-searchbar *ngIf="isSearchBarOpened" showCancelButton="true" (search)="onSearch($event)" (ionCancel)="isSearchBarOpened=false">
      </ion-searchbar>
      <ion-buttons end>
        <button ion-button icon-only *ngIf="!isSearchBarOpened" light color="shadowlite" (click)="isSearchBarOpened=true">
          <ion-icon ios="ios-search" md="md-search">
          </ion-icon>
        </button> 
        <button ion-button icon-only light class="has-icon icon-only has-badge" (click)="goToConnexion()">
          <ion-icon ios="ios-contact" md="md-contact">
          </ion-icon>
        </button> 
      </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
<div><ion-row>
        <ion-col>
          <button ion-button clear small icon-only>
            <ion-icon name="arrow-dropdown-circle"></ion-icon>
            <ion-select>
                  <ion-option (ionSelect)="goToCreerBoutique()"><ion-icon name="pricetags">Creer Boutique</ion-icon></ion-option>
                  <ion-option (ionSelect)="goToCreerMagasin()"><ion-icon name="bookmark"></ion-icon>Creer Magasin</ion-option>
                  <ion-option (ionSelect)="goToCreerProduit()"><ion-icon name="basket"></ion-icon>Creer Produit</ion-option>
                  <ion-option (ionSelect)="goToCreerService()"> <ion-icon name="settings"></ion-icon>Creer Service</ion-option>
            </ion-select>
          </button>
        </ion-col>
        <ion-col>
            <button ion-button clear small icon-only> 
			<ion-icon name="ios-funnel"></ion-icon>
			<ion-select>
			  <ion-option (ionSelect)="goToListeBoutique()">Liste Boutique</ion-option>
			  <ion-option (ionSelect)="goToListeMagasin()">Liste Magasin</ion-option>
			  <ion-option (ionSelect)="goToListeProduit()">Liste Produits</ion-option>
			  <ion-option (ionSelect)="goToListeService()">Liste Services</ion-option>
            </ion-select>
            </button>
        </ion-col>
        <ion-col>
          <button ion-button ion-button clear small (click)="goToTrier()">
             <ion-icon name="md-options"> {{"Sort"}} </ion-icon>
          </button> 
        </ion-col>
    </ion-row></div>
<div><form>
<!-- <ion-item *ngFor="let offre of offres"  (click)="editOffre(offre)" >
 -->
  <ion-item *ngFor="let offre of offres" >
    <ion-card>   
      <div class="card-title">{{offre.nUniqueOffre}}</div>
      <div class="card-subtitle">{{offre.dateLancement}}</div>
      <div class="card-subtitle">{{offre.dateClotureOffre}}</div>
      <div class="card-subtitle">{{offre.quantiteProduit}}</div>
	  <div class="card-title">{{offre.nAuteurOffre}}</div>
      <div class="card-subtitle">{{offre.typeAuteurOffre}}</div>
      <div class="card-subtitle">{{offre.activityID}}</div>
      <div class="card-subtitle">{{offre.typeArticle}}</div>
	  <div class="card-subtitle">{{offre.contratId}}</div>
<ion-buttons end>
<button ion-buttton ion-icon (click)="editOffre(offre)"><ion-icon name="ios-create"></ion-icon></button>
<button ion-buttton ion-icon (click)='deleteOffre(offre.key)'><ion-icon name="ios-trash"></ion-icon></button>
</ion-buttons>
</ion-card>
</ion-item>
</form></div></ion-content>
