<!--
  Generated template for the CategorieListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

<ion-buttons start>
  <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
  </button>
</ion-buttons>
  <ion-navbar color="primary">
    <ion-title>Liste des categories</ion-title>
    <ion-buttons end> 
      <button ion-buttton ion-icon (click)='addNewCategorie()'> 
      <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding><div><form>
<!-- <ion-item *ngFor="let categorie of categories"  (click)="editCategorie(categorie)" >
 -->
  <ion-item *ngFor="let categorie of categories" >
    <ion-card>   
      <div class="card-subtitle">{{categorie.catUniqueID}}</div>
      <div class="card-subtitle">{{categorie.Nom}}</div>
      <div class="card-subtitle">{{categorie.Description}}</div>
<ion-buttons end>
<button ion-buttton ion-icon (click)="editCategorie(categorie)"><ion-icon name="ios-create"></ion-icon></button>
<button ion-buttton ion-icon (click)='deleteCategorie(categorie.key)'><ion-icon name="ios-trash"></ion-icon></button>
</ion-buttons>
</ion-card>
</ion-item>
</form></div></ion-content>
