<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Creer Compte
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content text-center padding id="page49">
  <div class="logo">
        <img src="assets/img/logo_yeewu.png"/>
    </div>
  <form id="cr-compte-form2">
    <ion-list id="cr-compte-list2">
       <ion-item id="cr-compte-input3">
        <ion-label>
          Utilisateur Code
        </ion-label>
        <ion-input type="text" placeholder=""></ion-input>
      </ion-item>
	   <ion-item id="cr-compte-input4">
        <ion-label>
          Utilisateur
        </ion-label>
        <ion-input type="text" placeholder=""></ion-input>
      </ion-item>
	  <ion-item id="cr-compte-input5">
        <ion-label>
          Nom
        </ion-label>
        <ion-input type="text" placeholder=""></ion-input>
      </ion-item>
	  <ion-item id="cr-compte-input6">
        <ion-label>
          Prenoms
        </ion-label>
        <ion-input type="text" placeholder=""></ion-input>
      </ion-item>
      <ion-item id="cr-compte-input7">
        <ion-label>
          Email
        </ion-label>
        <ion-input type="email" placeholder=""></ion-input>
      </ion-item>
	  <ion-item id="cr-compte-input8">
        <ion-label>
          Telephone
        </ion-label>
        <ion-input type="email" placeholder=""></ion-input>
      </ion-item>
      <ion-item id="cr-compte-input9">
        <ion-label>
          Mot de Passe
        </ion-label>
        <ion-input type="password" placeholder=""></ion-input>
      </ion-item>
	  <ion-item>
		<ion-label>Choix Role</ion-label>
			<ion-select [(ngModel)]="toppings" multiple="true" name="Client">
			<ion-option>Animateur</ion-option>
			<ion-option>Administrateur</ion-option>
			<ion-option>Fournisseur</ion-option>
			<ion-option>Client</ion-option>
		</ion-select>
	</ion-item>
    </ion-list>
	<!--ion-item *ngIf="data != null">
		<ion-label>{{data.title}}</ion-label>
		<ion-select [(ngModel)]="data.selectedItem" multiple="true" interface="action-sheet" name="first">
			<ion-option *ngFor="let item of data.items; let i= index" [value]="item.id">{{item.title}}</ion-option>
		</ion-select>
	</ion-item-->
    <button id="cr-compte-button7" ion-button color="stable" block on-click="goToInscriptionOK()">
      Creer Compte
    </button>
  </form>
</ion-content>