<!--
  Generated template for the ListMagasinPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Liste des Magasin</ion-title>
    <ion-buttons end> 
      <button ion-buttton ion-icon (click)='addNewProduit()'> 
      <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
<!-- <ion-item *ngFor="let produit of produits"  (click)="editProduit(produit)" >
 -->
  <ion-item *ngFor="let magasin of magasins" >

 <h3>{{magasin.ref}}</h3>
<h3>{{magasin.adresse}}</h3>
<h3>{{magasin.description}}</h3>
<ion-buttons end>
<button ion-buttton ion-icon (click)="ed(produit)"><ion-icon name="ios-create"></ion-icon></button>
<button ion-buttton ion-icon (click)='deleteProduit(produit.key)'><ion-icon name="ios-trash"></ion-icon></button>

</ion-buttons>
</ion-item>
</ion-content>